
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h1>Forgot Password Confirmation</h1>

<p>
    Please check your email to reset your password.
    <br /> If you don't receive an email, please check your spam folder. 
    <br />If you need further assistance, please contact support.
</p>

